/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  transform translateX(-120%)
  opacity 0
  transition .5s
  &.order-enter-active
    transform translateX(0)
    opacity 1
  
.order-exit
  transform translateX(0)
  opacity 1
  transition .5s
  &.order-exit-active
    transform translateX(120%)
    opacity 0

.count-enter
  transform translateY(100%)
  transition .5s
  &.count-enter-active
    transform translateY(0)

.count-exit
  transform translateY(0)
  transition .5s
  position absolute
  left 0
  bottom 0
  &.count-exit-active
    transform translateY(-100%)